body{
	margin: 0;
	padding: 0;
	background-color: #F5F5DC;
	font-family: 'Oswald', sans-serif;
	overflow-y: auto; 
}


#nav{
	float: left;
	width: 220px;
	height:100%;
	background-color: #ff7f50;
	position: fixed;
	padding-left: 0px;
	padding-top: 0px;
	
}

#wics_title{
	width: 60%;
	margin: 30 30 30 30;
	font-size: 26px;
	line-height: 150%;
}

#menu_nav {
	list-style-type: none;
}


#menu_nav a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: 50px;
}

#social_buttons {
	height: 40px;
	width: 80%;
	margin: auto;
}

#social_buttons div{
	margin-left: 10%;
	opacity: 0.6;
	border-radius: 50%;
}

#header{
	float: left;
	width: 50%;
	margin-left: 400px;
	text-align: center;
	font-size: 50px;
	margin-bottom: 0;
}

#main_header {
	margin-top: -20px;
}

#brown_logo img{
	width: 205px;
	height: 150px;
	margin-top: 55px;
}

#wics_logo {
	width: 300px;
	height: 300px;
	margin-top: 30px;
}

#home_page_desc{
	font-size: 30px;
	text-align: center;
	margin-top: -50px;
}

.general_desc {
	font-size: 20px;
	text-align: left;
}

#mentor-page {
	float: right;
}

#title {
	font-size: 30px;
	margin-left: -25%;
}

#mentor-1 {
	height: 200px;
	width: 500px;
	border: 1px solid black;
	margin-left: -105%;
	
	
}

#mentor-2 {
	height: 200px;
	width: 500px;
	border: 1px solid black;
	margin-left: 0%;
	margin-top: -40.5%;
}



#mentor-right {
	height: 200px;
	width: 500px;
	border: 1px solid black;
	margin-left: 0%;
	position: relative;
	margin-top: -40.5%;
}


#mentor-left {
	height: 200px;
	width: 500px;
	border: 1px solid black;
	margin-left: -105%;
	margin-top: 10%;
}

#pic {
	height: 200px;
	width: 150px;

}

#mentor-info-left {
	float: right;
	margin-top: -42%;
	margin-right: 17%;
	height: 224px;
	width: 248px;
}

#mentor-info-right {
	float: right;
	margin-top: -45%;
	margin-right: 17%;
	height: 224px;
	width: 248px;
}

